[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
dash = "2.9.3"
dash-dangerously-set-inner-html = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
