@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

html, body {
	font-family: 'Open Sans';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Special Elite';
	letter-spacing: .02em;
}

label.label:not(:last-child) {
	margin: 1.5em 0 1ex;
}

.page-bar-container {
	padding-bottom: 5px;
	padding-top: 5px;
}

.page-bar-row {
	padding: 5px 0;
	letter-spacing: 0.3em;
	font-size: 0.9em;
}

.section--form {
	padding-top: 0;
	margin-bottom: 0;
}
.section.graph {
	padding-top: 0;
	margin-top: -3rem;
}

/* We want vertical Checklists always. */
.control label.checkbox {
	display: block;
}

.header {
	background-image: url('/assets/header_background.jpg');
	background-size: cover;
	height: 400px;
	padding: 0;
}

.header .page-bar {
	font-family: "Lato",sans-serif;
	font-weight: 400;
	border-bottom: 1px solid #e6e6e6;
	font-size: 12px;
	line-height: 14px;
	border-color: #6e768c;
	background-color: #515767;
	color: #fff;
	background: #8e1e23;
}

.header--logo {
	width: 6.8em;
}

.header--map {
	width: 15.0em;
}

.header--headers {
	width: 85%;
}

.header--titles {
	width: 100%;
}

.header--snap-link img {
	height: 5.4em;
}

.intro-text {
	max-width: 700px;
	margin: 0 auto;
	font-size: 110%;
	font-family: 'Special Elite';
	letter-spacing: .02em;
}

.form label, .form input {
	font-size: 130%;
}

label.checkbox input, label.radio input {
	position: relative;
	bottom: .1ex;
	margin-right: .5ex;
}

.camera-icon span {
  display: inline-block;
  position: relative;
  top: 0.25rem;
  padding: 0 3px;
}

.camera-icon span path {
  fill: #ccc;
}

.footer p {
	width: 50%;
	margin: 1em auto;
}

.footer a {
	display: inline-block;
}

.footer a img {
	height: 5em;
	margin: 1em 1.5em;
}

._dash-undo-redo {
	display: none;
}

@media print {
	.no-print * {
		display: none;
	}
}